<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/app.css"/>

    <style>
        body{
            position:relative;
        }
        .nav-tabs > li.active > a
        {
            color:#fff;
        }
        .nav-tabs > li.active > a:hover
        {
            color:#fff;
        }
    </style>

    <script src="/js/jquery-latest.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.js"></script>
    <script>
        $(document).ready(function(){



        });
    </script>
</head>
<body >
<div class="container-fluid">
    <div class="row-fluid">
        <!-- sidenav -->
        <div id="sidenav" class="span2">
            <nav id="scrollingNav">
                <ul class="sidenav nav nav-list">
                    <li class="nav-fixed nav-header active" data-group="_"><a href="#api-_">General</a></li>
                    <li class="nav-header" data-group="User"><a href="#api-User">User</a></li>
                    <li data-group="User" data-name="GetUser" data-version="0.3.0" class="">
                        <a href="#api-User-GetUser">example</a>
                    </li>
                    <li data-group="User" data-name="PostUser" data-version="0.3.0" class="">
                        <a href="#api-User-PostUser">diagram</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- content -->
        <div id="content">
            <div id="header">
                <div id="api-_"><h2 id="welcome-to-apidoc">Welcome to apiDoc</h2>

                    <p>Please visit <a href="#">Read data of a User</a>
                        <a href="#">Read data of a User</a>
                        ://apidocjs.com">apidocjs.com</a> with the full documentation.</p>
                </div>
            </div>
            <div id="sections">
                <section id="api-User">
                  <div id="api-User-GetUser">
                        <article id="api-User-GetUser-0.3.0" data-group="User" data-name="GetUser" data-version="0.3.0">
                            <div class="pull-left">
                            <ul class="nav nav-tabs nav-tabs-examples">
                                <li class="active">
                                    <a href="#examples-User-GetUser-0_3_0-0">Example</a>
                                </li>
                            </ul>
                                </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button class="version btn dropdown-toggle" data-toggle="dropdown">
                                        <strong>0.3.0</strong> <span class="caret"></span>
                                    </button>
                                    <ul class="versions dropdown-menu open-left">
                                        <li class="disabled"><a href="#">compare changes to:</a></li>
                                        <li class="version"><a href="#">0.3.0</a></li>
                                        <li class="version"><a href="#">0.2.0</a></li>
                                        <li class="version"><a href="#">0.1.0</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <p>
                                &nbsp;<a href="#" data-toggle="popover" data-placement="right" data-html="true"
                                         data-content="<p>Optionally you can write here further Informations about the permission.</p> <p>An &amp;quot;apiDefine&amp;quot;-block can have an &amp;quot;apiVersion&amp;quot;, so you can attach the block to a specific version.</p> "
                                         title="" data-original-title="Admin access rights needed.">
                            </a>

                            </p>


                            <h2>params</h2>
                            <table>
                                <thead>
                                <tr>
                                    <th style="width: 30%">Field</th>
                                    <th style="width: 10%">Type</th>
                                    <th style="width: 70%">Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="code">
                                        <%=property.id%>
                                    </td>
                                    <td>
                                        <%=property.type%>
                                    </td>
                                    <td>
                                        <%=property.description%>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <h2>description</h2>
                            <div class="tab-content">
                                <div class="tab-pane active" id="error-examples-User-PostUser-0_2_0-0">
                                    <pre class="prettyprint language-json prettyprinted" data-type="json">

                                         <code>
                                             <span  class="pln"><%=description%></span>
                                         </code>
                                    </pre>
                                </div>
                            </div>

                                </fieldset>
                            </form>


                        </article>

                    </div>
                    <div id="api-User-PutUser">

                        <article id="api-User-PutUser-0.3.0" data-group="User" data-name="PutUser" data-version="0.3.0">
                            <div class="pull-left">
                                <h1>Diagram</h1>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button class="version btn dropdown-toggle" data-toggle="dropdown">
                                        <strong>0.3.0</strong> <span class="caret"></span>
                                    </button>
                                    <ul class="versions dropdown-menu open-left">
                                        <li class="disabled"><a href="#">compare changes to:</a></li>
                                        <li class="version"><a href="#">0.3.0</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <p></p>

                            <p>This function has same errors like POST /user, but errors not defined again, they were
                                included with "apiUse"</p>

                            <p></p>




                            <ul class="nav nav-tabs nav-tabs-examples">
                                <li class="active">
                                    <a href="#error-examples-User-PutUser-0_3_0-0">Response (example):</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="error-examples-User-PostUser-0_2_0-0">
                                    <pre class="prettyprint language-json prettyprinted" data-type="json">
                                         <code>
                                             <span  class="pln"></span>
                                             <span class="pun">/</span>
                                             <span class="lit">1.1</span>
                                         </code>
                                    </pre>
                                </div>
                            </div>



                        </article>

                    </div>
                </section>
            </div>
            <div id="footer">
                <div id="api-_footer"><h2 id="epilogue">Epilogue</h2>

                    <p>Suggestions, contact, support and error reporting on <a
                            href="https://github.com/apidoc/apidoc/issues">GitHub</a></p>
                </div>
            </div>
            <div id="generator">
                <div class="content">
                    Generated with <a href="http://apidocjs.com">apiDoc</a> 0.9.0 - 2014-11-28T14:51:50.677Z
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>